.banner {
  background: rgb(42, 14, 57);
  background: linear-gradient(
    90deg,
    rgba(42, 14, 57, 1) 7%,
    rgba(209, 179, 179, 1) 49%,
    rgba(192, 196, 196, 0.989233193277311) 84%,
    rgba(120, 133, 135, 1) 100%
  );
  text-align: center;
  height: 100%;
  width: 100%;
  text-shadow: 10px;
  color: #0d0d0e;
}

.space {
  margin-top: 25px;
}
body {
  background: rgb(42, 14, 57);
  background: linear-gradient(
    90deg,
    rgba(42, 14, 57, 1) 7%,
    rgba(164, 11, 12, 1) 73%,
    rgba(192, 196, 196, 0.989233193277311) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
